html {
  overflow: hidden;
  height: 100%;
}

video {
  width: 700px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.whole_area {
  position: relative;
}

.help_box {

  color: white;
}

.help_question:hover + .help_box {

  position: absolute;
  display: block;
  color: white;

}


.help_question{
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 10px;
  font-size: 20px;
  color: black;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.leftbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  /*overflow-y: hidden;*/
  padding-top: 20px;
}

.chat_title, .user-count {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom:0;
  padding: 10px 0;
  font-size: 20px;
  color: white;
}

.sensor_title {
  padding: 10px 0;
  color: white;
  margin-left: 10%;
  margin-top: 0;

}

h2 {
  margin-left: 10%;
  margin-right: 10%;

  font-size: 15px;
  color: white;
}

select {
  margin-left: 10%;
}

.user-count {
  float: right;
  color: white;
}

.sidechat{
	width: 80%;
	padding: 10%;

}

.chat {
  content: '';
  width: 100%;
  height: 40vh;
  background: white;
  padding: 5px 10px;
  overflow-y: scroll;

}

.chat p {
  margin: 0 0 5px 0;
  
}

input[type = "text"], button.send {
  width: 100%;
  font: inherit;
  background: #fff;
  border: none;
  margin-top: 10px;
 
}


button.send:hover{
  cursor: pointer;
  background: #ddd;
}

button.end {
  width: 100%;
  background: red;
}

button.end:hover {
  cursor: pointer;
  background: orange;
}

button.next-btn {
  background: yellow;
  font-size:25px;
  font-weight:600;
  margin-left:10%;
  margin-right:10%;
  padding-left:10%;
  padding-right:10%;
}

button.message_link{
  font-size:20px;
}

button.message_link:hover {
  cursor: pointer;
}

button.next-btn:hover {
  cursor: pointer;
  background: orange;
}

button.command-btn:hover {
  cursor: pointer;
}

button.command-btn {
  width:100%;
}

p.command-title {
  width:100%;
  background: #BDB76B;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

input[type = "radio"] {
	background: #fff;

}

label {
  display: flex;
  color: black;
  
}

.likert li {
  float: left;
  list-style-type: none;
}

p.hint{
  text-align: center;
  font-size:25px;
  width:700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: blue;
}

.collapsible {
  background-color: #777;
  color: white;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}



.collapsible_content {
  padding: 0 18px;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  
}

.entry {
  padding: 0 18px;
  overflow-y: scroll;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.entry_object {
  padding: 0 18px;
  overflow-y: scroll;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  height: 60vh;
}

.wrapper {
  display: flex;

  border:1px solid;
}

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50vh;
  left:50vw;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:60vw;
  height:80vh;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  overflow-y: scroll;
  line-height: 1.5;
}

.popup .close-btn {
  cursor:pointer;
  position:sticky;

  top:20px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
 
  width:max-content;
  margin-left:auto;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

 
ol {
  list-style-position: inside;
  padding: 0;
  border: 1px solid #ddd;
}

ol li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ol li:last-child {
  border-bottom: none
}

ol > li::marker {
  font-weight: bold;
}

.br{ 
    display: block; 
    margin-bottom: 2em; 
} 

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popup img {
    vertical-align: middle;
    margin-left: 1em;
}

.dot {
  background: yellow;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  margin: 2px;
  width: 5px;
}

strong.token {
    font-size:50px;
}

button.ready {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-right: 200px;
  padding-bottom: 40px;
  padding-left: 200px;
  font-size:25px;
  background:yellow;
}

button.button_prompt {
    text-align: center;
}

button.ready:hover{
  cursor: pointer;
  background: orange;
}
p.ready {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size:25px;
}
p.wait {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size:25px;
}
h1.wait {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.error {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size:25px;
  color:red;
}

 /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip text */
.tooltip .tooltiptext_object {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: fixed;
  z-index: 1;
  bottom: 10%;
  left: 18%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext_object{
  visibility: visible;
  opacity: 1;
} 

