html {
  overflow: hidden;
  height: 100%;
}

video {
  width: 700px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.whole_area {
  position: relative;
}

.help_box {

  color: white;
}

.help_question:hover + .help_box {

  position: absolute;
  display: block;
  color: white;

}


.help_question{
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 0;
  font-size: 20px;
  color: white;
}

.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.chat_title, .user-count {
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 0;
  font-size: 20px;
  color: white;
}

h2 {
  margin-left: 10%;
  margin-right: 10%;

  font-size: 15px;
  color: white;
}

select {
  margin-left: 10%;
}

.user-count {
  float: right;
  color: white;
}

.sidechat{
	width: 80%;
	padding: 10%;

}

.chat {
  content: '';
  width: 100%;
  height: 40vh;
  background: white;
  padding: 5px 10px;
  overflow-y: scroll;

}

.chat p {
  margin: 0 0 5px 0;
  
}

input[type = "text"], button.send {
  width: 100%;
  font: inherit;
  background: #fff;
  border: none;
  margin-top: 10px;
 
}

button.send:hover {
  cursor: pointer;
  background: #ddd;
}


input[type = "radio"] {
	background: #fff;

}

label {
  display: flex;
  color: black;
  
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible_content {
  padding: 0 18px;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  
}

.wrapper {
  display: flex;

  border:1px solid;
}

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:50%;
  height:50%;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  overflow-y: scroll;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}
}
